html, body {
  background-color: #282c34;
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  text-align: center;
  #display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.Tooltip {
    width: 200px;
    height: 300px;
}


.react-icons {
  vertical-align: middle;
}


.desktop-header {
  height: 100%;
  width: 100%;
  #display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  #justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

/*
.mobile-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

